<!--Toolbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Upload File</span>
  </mat-toolbar-row>
</mat-toolbar>
<!--Upload section-->
<div class="upload-section">
  <form class="upload-field">
    <div class="file">
      <label class="label">Select File : </label>
      <div>
        <input type="file" class="upload" accept=".csv" (change)="changeFile($event.target.files)" />
      </div>
    </div>
    <div class="button">
      <button mat-raised-button type="submit" class="btn" (click)="uploadFile()">Upload</button>
    </div>
  </form>
</div>