.upload-section {
    text-align: center;
}

.upload-field {
    padding: 2% 0 2% 0;
}

.file {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: darkcyan;
    display: inline;
}

.file .label {
    text-align: right;
    float: left;
    width: 48%;
    font-size: 20px;
    font-weight: bold;
    color: darkcyan;
    padding: 1%;
}

.file div {
    width: 48%;
    float: right;
    text-align: left;
    padding: 1%;
}

.button {
    padding-top: 20px;
    width: 100%;
    float: right;
}
